body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  /*font-family: "Helvetica", sans-serif;*/
  font-family: 'Assistant', sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

p{
  font-style: italic;
}
.black {
  color: black;
}

.jumbotron {
   background: rgb(255, 255, 255); /* This is for ie8 and below */
   background: rgba(255, 255, 255, 0.5);
}

#balance {
  color: black;
}

.hint {
  color: #666;
}
